.reactionsHolder {
    position: absolute;
    /* z-index: 1000; */
    float: left;
    bottom: 40px;
    left: -5px;
}
.reactionButton {
    overflow: hidden;
    justify-content: space-between;
    align-items: center;
    display: flex;
}
